* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* + * {
    margin-top: 1rem;
}

body {
    background-color: #333;
    font: 1rem/1.2 sans-serif;
    color: #ddd;
    margin: 0;
}

#app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.message {
    font-size: 3rem;
    text-align: center;
}

.meter-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-around;
}

.meter {
    display: inline-block;
    width: 1.5rem;
    min-height: .25rem;
    background-color: #66d;
}

.meter-y {
    background-color: #d66;
}

.meter-z {
    background-color: #6d6;
}

.meter-gx {
    background-color: #66d;
}

.meter-gy {
    background-color: #d66;
}

.meter-gz {
    background-color: #6d6;
}

#start-btn,
#test-btn {
    border: none;
    padding: 0;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 .25rem 1.5rem .25rem rgba(0,0,0,0.25);
    transition: all .5s;
}

#start-btn {
    background: url('../img/fingerprint.png') no-repeat center center #d00;
    background-size: 5rem auto;
    height: 12.5rem;
    width: 12.5rem;
}

#test-btn {
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #666;
    text-transform: uppercase;
}

#start-btn:active {
    height: 15rem;
    width: 15rem;
    background-color: #faa;
    box-shadow: 0 .25rem 1.5rem .5rem rgba(0,0,0,0.5);
    transition: all .5s;
}

#start-btn:focus,
#test-btn:focus {
    outline: none;
}