* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: white;
  font: 120%/1.3 sans-serif;
  color: black;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#startbtn {
  background-color: transparent;
  height: 15rem;
  width: 15rem;
  font-size: 2rem;
  font-weight: 900;
  border-radius: 50%;
  border: solid 0.5rem red;
  color: black;
  text-transform: uppercase;
  transition: transform 0.3s;
  cursor: pointer;
}

#startbtn:hover,
#startbtn:active {
  transform: scale(110%);
}

#jitter {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#log {
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
  z-index: 0;
  opacity: 0.33;
}

#log span {
  display: block;
}

#hitalert {
  position: fixed;
  top: 25%;
  left: 0;
  width: 100%;
  font-size: 3rem;
  background-color: red;
  padding: 2rem;
  color: white;
  font-weight: bold;
  z-index: 10;
}